<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.gilberto.sgv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sgvapp"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.RouteDetailsActivity"></activity>
        <activity android:name=".activity.RouteActivity" />
        <activity android:name=".activity.VehicleActivity" />
        <activity android:name=".activity.AddressActivity" />
        <activity
            android:name=".activity.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.Sgvapp.NoActionBar" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>